{% form 'contact' %}
<div id="contactFormWrapper cntct_new">
  <div class="desktop-12 tablet-6 mobile-3">
    <h2 class="ttl_f">
      what’s on your mind?
    </h2>
  </div>
  <div class="desktop-12 tablet-6 mobile-3">
    <p>
      <label class="desktop-2">{{ 'contact.form.name' | t }}</label>
      <input class="desktop-5" type="text" id="contactFormName" name="contact[name]" placeholder="{{ 'contact.form.name' | t }} " required />
    </p>
  </div>
    <div class="desktop-12 tablet-6 mobile-3">
    <p>
      <label class="desktop-2">Order Number</label>
      <input class="desktop-5" type="text" id="contactFormOrder" name="contact[order]" placeholder="Order Number" />
    </p> 
  </div>
  <div class="desktop-12 tablet-6 mobile-3">
    <p>
      <label class="desktop-2">{{ 'contact.form.email' | t }}</label>
      <input class="desktop-5" type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }} "  required />
    </p>
  </div>

  <div class="desktop-12 tablet-6 mobile-3">
    <p>
      <label class="desktop-2">{{ 'contact.form.message' | t }}</label>
      <textarea class="desktop-5" rows="15" cols="90" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" required ></textarea>
    </p>
    <p class="btn_sb">
      <input type="submit" id="contactFormSubmit" class="secondary button new_sbmt" value="Send message" />
    </p> 
  </div>
</div>

<div class="clear"></div>


{% if form.posted_successfully? %}
<div class="successForm feedback">
  <p>{{ 'contact.form.post_success' | t }}</p>
</div>
{% endif %}

{% if form.errors %}
<div class="errorForm feedback">
  <p>{{ 'general.forms.post_error' | t }}</p>
</div>
{% endif %}

{% endform %}      

<div class="clear"></div>

{% if settings.show-map %}
<div id="gmap" class="desktop-12 tablet-6 mobile-3">
    {{ settings.map }}
</div>
{% endif %}



<style>
  .desktop-12.tablet-6.mobile-3 p label {
    font-weight: normal;
}
</style>